/* Students:
 * =========
 * Add styling to your d3 chart with this file. */
 body{
    font-size: 20px;
    font-family: 'Barlow Condensed' sans-serif !important;
    background-color: #b0d7fd !important;
  }
  
  .axis-text-x {
    fill: purple ;
    text-anchor: middle;
  }
    
  .axis-text-y {
    fill: purple ;
    text-anchor: middle;
  }
  
  .active {
    font-weight: 900;
    fill: navy;
    transition: fill 0.5s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: white;
    transition: fill 0.5s ease-out;
    text-anchor: middle;
  }
  
  .axis-text-main{
   text-anchor: middle;
   font-size: 0.75em;
  }
  
  .tooltip {
    position: absolute;
    width: 300px;
    height: 125px;
    padding: 10px;
    padding-bottom: 80px;
    font: 12px sans-serif !important;
    color: white;
    text-align: center !important;
    background: navy;
    border: 0;
    border-radius: 10px;
    opacity: .5 ;
  }